# Expo
.expo/
dist/
web-build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Android
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties

# iOS
*.ipa
*.dSYM.zip
*.dSYM
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
Pods/

# Misc
*.log
*.tmp
